/*  */
/* Varibales */
/*  */
:root {
    --nav-font: #e0e0e0;
    --accent: #b33737;
    --background: #222222;
    --sidebar-background: #313131;
    --btn-size: clamp(20px, 1.2vw, 1.3rem);
    --text-size: 1.2rem;
    --hover-color: #444444;
    --shadow: #000;
    --disbaled: #c77272;
    --accent-hover: #982f2f;
}

/*  */
/* Global Element Styles */
/*  */
* {
    margin: 0;
}

body {
    height: 100vh;
    background-color: var(--background);
    overflow: hidden;
}

.ul-default {
    list-style: none;
    padding: 0;
}

.button-default {
    background-color: transparent;
    border: none;
    font-size: var(--btn-size);
}

.button-default:hover {
    cursor: pointer;
}

.input-default {
    color: var(--nav-font);
    background-color: transparent;
    border: none;
    height: 40px;
    padding: 0;
    border-radius: 12px;
}

.input-default:focus, .input-default:active {
    outline: none;
}

.input-default:active::placeholder, .input-default:focus::placeholder {
    color: transparent;
}

.input-default::placeholder {
    color: var(--nav-font);
    font-size: calc(var(--text-size) * 0.80);
    font-weight: 100;
}

/*  */
/* Top Nav-bar */
/*  */
.nav {
    background-color: var(--accent);
    height: 50px;
}

#navbar-main {
    position: relative;
    top: 10px;
}

#nav-main-list {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 30px);
    margin: auto;
}

#home-nav, #add-other {
    display: flex;
}

.nav-main-btn {
    color: var(--nav-font);
    height: 30px;
    margin: 0 10px;
}

/*  */
/* Main Content */
/*  */
main {
    display: flex;
}

#side-nav {
    flex: 0 1 clamp(250px, 100%, 325px);
    background-color: var(--sidebar-background);
    height: 100vh;
}

#todo-main {
    flex: 0 1 clamp(750px, 100%, 100%);
    background-color: transparent;
    position: relative;
}

/*  */
/* Sidebar */
/*  */
#sidebar-list {
    padding: 0;
}

.projects {
    width: 100%;
    margin: 6px 0;
}

.sidebar-btn {
    width: calc(100% - 55px);
    text-align: left;
    color: var(--nav-font);
    font-size: var(--text-size);
    margin: 0 20px 0 35px;
    padding: 4px 0 4px 5px;
    border-radius: 8px;
}

.sidebar-btn:hover {
    background-color: var(--hover-color);
}

/*  */
/* Form CSS */
/*  */
#form-container[data-status = 'inactive'] {
    height: 0;
    opacity: 0;
    inset: -500px calc(50% - 300px);
}

#form-container[data-status = 'active'] {
    height: 250px;
    opacity: 1;
    inset: calc(25% - 125px) calc(50% - 300px);
    z-index: 2;
}

#midlay {
    height: 0;
    width: 0;
    inset: 0;
}

#midlay[data-status = 'active'] {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 1;
}

#form-container {
    position: absolute;
    width: clamp(500px, 50%, 700px);
    border-radius: 12px;
    background-color: var(--sidebar-background);
    box-shadow: 0 0 14px 6px var(--shadow);
    transition: ease-in-out, 100ms;
}

#form-header {
    grid-column: span 3;
    padding: 0;
    height: 30px;
    background-color: var(--accent);
    border-radius: 12px 12px 0 0;
}

#todo-form {
    width: calc(100% - 30px);
    display: grid;
    padding: 15px;
    grid-template: repeat(1, 1fr)/ repeat(3, 1fr);
}

.todo-input {
    width: 100%;
}

#title-input {
    font-size: var(--text-size);
    font-weight: 700;
    height: 50px;
    grid-column: span 3;
    color: #fff;
}

#description-input {
    grid-column: span 3;
}

#title-input::placeholder {
    font-size: 1.4rem;
    font-weight: 700;

}

#form-further {
    grid-column: span 3;
    display: flex;
    align-items: start;
}

#btn-container {
    width: fit-content;
    position: absolute;
    inset: auto 10px 15px auto;
}

.form-btn {
    background-color: var(--accent);
    border-radius: 8px;
    width: 100px;
    height: 34px;
    font-size: calc(var(--text-size) * 0.72);
    font-weight: 700;
    color: var(--nav-font);
    margin: auto 5px;
}

#no-input {
    background-color: var(--disbaled);
    cursor: not-allowed;
}

#add-task:hover {background-color: var(--accent-hover);
}

#cancel-todo {
    background-color: var(--background);
    filter: brightness(0.9);
}

#cancel-todo:hover {
    filter: brightness(1.2);
}