/*  */
/* Varibales */
/*  */
:root {
    --nav-font: #e0e0e0;
    --accent: #b33737;
    --background: #222222;
    --sidebar-background: #313131;
    --font-size-btn: clamp(20px, 1.2vw, 1.3rem);
    --text-size: 1.2rem;
    --hover-color: #444444;
    --shadow: #000;
    --disbaled: #c77272;
    --accent-hover: #982f2f;
    --transition-time: 100ms;
    --font-size-header1: 1.3rem;
    --font-size-task-item: 1.1rem;
    --btn-hover-background: #afafaf36;
}

/*  */
/* Global Element Styles */
/*  */
* {
    margin: 0;
    color: var(--nav-font);
}

body {
    height: 100vh;
    background-color: var(--background);
    overflow: hidden;
}

.ul-default {
    list-style: none;
    padding: 0;
}

.button-default {
    background-color: transparent;
    border: none;
    font-size: var(--font-size-btn);
    border-radius: 8px;
}

.button-default:hover {
    cursor: pointer;
    background-color: var(--btn-hover-background);
}

.input-default {
    background-color: transparent;
    border: none;
    height: 40px;
    padding: 0;
    border-radius: 12px;
}

.input-default:focus, .input-default:active {
    outline: none;
}

.input-default:active::placeholder, .input-default:focus::placeholder {
    color: transparent;
}

.input-default::placeholder {
    font-size: calc(var(--text-size) * 0.80);
    font-weight: 100;
}

.nonclickable {
    pointer-events: none;
}

/*  */
/* Top Nav-bar */
/*  */
.nav {
    background-color: var(--accent);
    height: 50px;
}

#navbar-main {
    position: relative;
    top: 10px;
}

#nav-main-list {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 30px);
    margin: auto;
}

#home-nav, #add-other {
    display: flex;
}

.nav-main-btn {
    height: 30px;
    margin: 0 10px;
}

/*  */
/* Main Content */
/*  */
main {
    position: relative;
}

#side-nav {
    width: 250px;
    height: 100vh;
    position: absolute;
    left: 0;
    background-color: var(--sidebar-background);
    transition: ease-in-out var(--transition-time);
}

#side-nav[data-active = "false"] {
    transform: translateX(-100%);
}

#todo-main {
    height: 100vh;
    position: relative;
    background-color: transparent;
    transition: ease-in-out var(--transition-time);
}

#side-nav[data-active = "false"] ~ #todo-main {
    width: 100%;
    margin: 0;
}

#side-nav[data-active = "true"] ~ #todo-main {
    width: calc(100% - 250px);
    margin: 0 0 0 250px;
}

/*  */
/* Sidebar */
/*  */
#sidebar-list {
    padding: 0;
}

#user-made-projects-container {
    margin-top: 100px;
}

.projects {
    width: 100%;
    margin: 6px 0;
}

.project-btn {
    width: calc(100% - 55px);
    text-align: left;
    font-size: var(--text-size);
    margin: 0 20px 0 35px;
    padding: 4px 0 4px 5px;
    border-radius: 8px;
}

.project-btn[data-active="true"] {
    background-color: var(--hover-color);
}

.project-btn:hover {
    background-color: var(--hover-color);
}

/*  */
/* Todo Main */
/*  */
#task-project-header {
    padding: 25px 0 0 25px;
    margin-bottom: 40px;
}

#header {
    font-size: var(--font-size-header1);
}

#task-list-container {
    margin: 10px 10px 10px 25px;
}

.task-li {
    margin: 25px auto;
}

.task-li:first-child {
    margin-top: 0;
}

.task-header {
    font-size: var(--font-size-task-item);
}

.task-description {
    font-size: calc(var(--font-size-task-item) * 0.80);
}

/*  */
/* Task List CSS */
/*  */
.task-div {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.task-content-span {
    margin-left: 25px;
}

.task-options-span {
    margin-left: auto;
}

.more-options {
    padding: 5px;
    margin: auto 2.5px;
}


/*  */
/* Form CSS */
/*  */
#form-container {
    position: absolute;
    width: clamp(500px, 50%, 700px);
    border-radius: 12px;
    background-color: var(--sidebar-background);
    box-shadow: 0 0 14px 6px var(--shadow);
    transition: ease-in-out, var(--transition-time);
}

#form-container[data-active='false'] {
    height: 0;
    opacity: 0;
    inset: -500px calc(50% - 300px);
}

#form-container[data-active='true'] {
    height: 250px;
    opacity: 1;
    inset: calc(25% - 125px) calc(50% - 300px);
    z-index: 2;
}

#midlay {
    height: 0;
    width: 0;
    inset: 0;
}

#midlay[data-active='true'] {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 1;
}

#form-header {
    grid-column: span 3;
    padding: 0;
    height: 30px;
    background-color: var(--accent);
    border-radius: 12px 12px 0 0;
}

#todo-form {
    width: calc(100% - 30px);
    display: grid;
    padding: 15px;
    grid-template: repeat(1, 1fr)/ repeat(3, 1fr);
}

.todo-input {
    width: 100%;
}

#title-input {
    font-size: var(--text-size);
    font-weight: 700;
    height: 50px;
    grid-column: span 3;
    color: #fff;
}

#description-input {
    grid-column: span 3;
}

#title-input::placeholder {
    font-size: 1.4rem;
    font-weight: 700;

}

#todo-other-details {
    grid-column: span 3;
    display: flex;
    align-items: start;
}

#datepicker-container {
    position: absolute;
    inset: auto auto 15px 10px;
}

#datepicker-btn {
    height: 26px;
    width: fit-content;
    background-color: transparent;
    margin-left: 10px;
}

#datepicker-btn[data-active="true"] {
    background-color: var(--btn-hover-background);
}

#datepicker-btn:hover {
    background-color: var(--btn-hover-background);
}

#datepicker-btn .fa-caret-down {
    margin: auto 5px;
}

#datepicker[data-active="false"] {
    display: none;
}

#datepicker[data-active="true"] {
    width: fit-content;
    height: fit-content;
    background-color: black;
    position: absolute;
    inset: calc(30% + 35px) calc(50% - 250px);
    z-index: 3;
}

.datepicker-picker {
    background-color: var(--background);
    box-shadow: 0 2px 6px 2px var(--shadow);
}

.datepicker-controls .button {
    color: var(--nav-font);
    background-color: var(--shadow);
}

.datepicker-header .datepicker-controls .button:hover {
    color: var(--nav-font);
    background-color: var(--accent-hover);
}

.datepicker-controls .button:focus:not(:active) {
    color: var(--nav-font);
    box-shadow: none;
}

.datepicker-cell.focused:not(.selected) {
    background-color: var(--accent);
}

.datepicker-cell:not(.disabled):hover {
    background-color: var(--accent-hover);
}

.datepicker-cell.selected {
    background-color: var(--accent);
}

#btn-container {
    width: fit-content;
    position: absolute;
    inset: auto 10px 15px auto;
}

.form-btn {
    background-color: var(--accent);
    border-radius: 8px;
    width: 100px;
    height: 34px;
    font-size: calc(var(--text-size) * 0.72);
    font-weight: 700;
    margin: auto 5px;
}

#no-input {
    background-color: var(--disbaled);
    cursor: not-allowed;
}

#add-task:hover {
    background-color: var(--accent-hover);
}

#cancel-todo {
    background-color: var(--background);
    filter: brightness(0.9);
}

#cancel-todo:hover {
    filter: brightness(1.2);
}

.project-selection-dropdown-btn {
    font-size: calc(var(--text-size) * 0.9);
}

.project-selection-dropdown-btn[data-active="true"] {
    background-color: var(--btn-hover-background);
    border-radius: 8px;
}

.project-selection-dropdown-btn * {
    margin: auto 3px;
    display: inline;
}

#project-dropdown-menu-container[data-active="true"] {
    width: clamp(200px, 35%, 500px);
    height: 200px;
    position: absolute;
    inset: calc(25% + 40px) calc(50% - 300px);
    z-index: 3;
    border-radius: 8px;
    box-shadow:  0 0 10px 2px var(--shadow);
    background-color: var(--sidebar-background);
}

#dropdown-project-form {
    width: 85%;
    margin: 10px auto;
}

#dropdown-project-input {
    height: 25px;
    width: calc(100% - 15px);
    border-radius: 5px;
    background-color: var(--hover-color);
    padding-left: 15px;
}

#dropdown-project-input::placeholder {
    color: #b4b3b3;
}

#dropdown-project-ul {
    margin-top: 15px;
}

.dropdown-project-li {
    width: 85%;
    margin: 5px auto;
}

.dropdown-project-btn {
    font-size: var(--text-size) * 0.65;
    width: 100%;
    padding: 3px 0 3px 15px;
    text-align: start;
    border-radius: 5px;
}

.dropdown-project-btn {
    position: relative;
}

.dropdown-project-btn .fa-check {
    position: absolute;
    right: 10px;
    font-size: calc(var(--font-size-btn) * 0.7);
    top: calc(50% - 7px);
}

.dropdown-project-btn[data-selected="true"] {
    background-color: var(--btn-hover-background);
}

.dropdown-project-btn[data-selected="false"] .fa-check {
    display: none;
}

#project-selection-submit-btn {
    font-size: calc(var(--font-size-btn) * 0.7);
    height: 25px;
    width: 80px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#project-selection-submit-btn:hover {
    background-color: var(--accent-hover);
}

#selected-projects-container {
    margin-top: 15px;
    grid-column: span 3;
}

.selected-project-ul {
    width: 100%;
}

.selected-project-li:first-child {
    margin: 0 10px 0 5px;
}

.selected-project-li {
    display: inline-block;
    margin: 0 10px;
    padding: 0 0 0 10px;
    background-color: var(--btn-hover-background);
    border-radius: 8px;
}

.selected-project-name {
    display: inline;
    font-size: calc(var(--font-size-btn) * 0.75);
    padding: 3px 0;
}

.project-remover {
    height: 100%;
    border-radius: 0 8px 8px 0;
    bottom: 0;
    margin-left: 3px;
    font-size: calc(var(--font-size-btn) * 0.75);
}

@media (height < 850px) {
    #datepicker[data-active="true"] {
        inset: calc(40% + 10px) calc(50% - 250px);
    }
}